@page
@model IndexModel
@{
    ViewData["Title"] = "Meal Planner";
}

<h2>Welcome to the Meal Planner</h2>

<h4>Please enter how much time you have to prepare your meal so we cad suggest meals:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="get" asp-page="/Meals/Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">How much time do you have to prepare (minutes)?</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Recipe.RecipeTime" class="text-danger"></span>
            </div>
            
            @*<div class="form-group">
                <label class="control-label">How many people are hungry?</label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Recipe.RecipeServings" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
